<h1>Your Current Lists</h1>

<% if @lists.any?() %>
  <h3>Here are your lists:</h3>

  <ul>
    <% @lists.each() do |list| %>
      <li><a href="/lists/<%= list.id() %>"><%= list.name() %></a></li>
      <% end %>
  </ul>

  <% else %>

    <p>There are no lists yet!</p>

  <% end %>

<form id="list" action="/list" method="post">
  <label for="name">Name of the list:</label>
  <input id="name" name="name" type="text">
  <button type = "submit">Add list</button>
</form>
